@page "/"

@inject NavigationManager _navigationManager

<MudText Style="margin-bottom: 2rem" Typo="Typo.h2"> Welcome to my Schnorr signature application </MudText>

<MudCarousel Style="height:30rem;" ShowArrows="true" ShowDelimiters="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Filled.Analytics" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="Color.Surface">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
</MudCarousel>

<MudGrid Spacing="2" Justify="Justify.Center" Style="margin-top: 1rem">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnClickFunction">Get started</MudButton>
</MudGrid>

@code{

    void OnClickFunction()
    {
        _navigationManager.NavigateTo("/Sign");
    }
    
}
